
h1{
  color: blue;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aaa{
  color: orange;
  font-size: 100px;
}
